

.Login {
  background: var(--white-800);
  @include Lingth(100vh, 100%);
  display: flex;
  .logincoun {
    // background: #303dee;
    @include DwithL(100%, 55%, center, start);

    .loginfrom {
      @include Lingth(65%, 400px);

      background: var(--white-900);
      box-shadow: 0 0 17px var(--white-400);
      border-radius: 10px;
      padding: 10px;
      display: flex;

      .loginfild {

          @include DwithL(100%,100%,center,space-evenly);
        flex-direction: column;
        input {
          outline: none;
          @include Lingth(40px,90%);
          border-radius: 10px;
          border: 1px solid var(--white-500);
          font-size: 17px;
          padding: 3px;
        }
        .logbtn {
            @include Lingth(42px,90%);
          border: none;
          border-radius: 10px;
          background: #a420a8;
          color: #fff;
          font-size: 18px;
          cursor: pointer;
        }
        .subsecgment {
          @include DwithL(80px, 100%, center, space-between);

          flex-direction: column;

          h4 {
            font-size: 15px;
            color: rgb(230, 194, 36);
            cursor: pointer;
          }
          .logcre {
            @include Lingth(40px, 90%);
            border: none;
            border-radius: 10px;
           
            cursor: pointer;
            background: #13dd45;
            a{
          text-decoration: none;
          font-size: 16px;
          color: #fff;
        }
          }
        }
      }
    }
  }
  .logininfo {
      @include DwithL(100%,45%,center,end);
    .texts {
      @include Lingth(65%, 400px);
      border-radius: 10px;
      padding: 10px;
      // background: #85c4c9;
      h4 {
        color: var(--white-300);
        font-size: 18px;
        
      }
    }
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
    .logincoun {
        @include DwithL(75%,100%,start,center);
      .loginfrom {
        height: 90%;
      }
    }
    .logininfo {
      @include Lingth(35%, 100%);
      align-items: end;
      justify-content: center;
    }
  }
}
