.signpuCon {
  @include DwithL(100vh, 100%, center, center);
  background: rgb(125, 20, 245);
  user-select: none;
  flex-direction: column;
  position: relative;

  .signupbox {
    @include Lingth(550px, 450px);
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: relative;
    overflow: hidden;
    .mainFrom {
      position: absolute;
      @include Lingth(96%, 200%);
      display: flex;
      transition: 0.3s ease;
      transform: translateX(0px);

      .firstPart {
        @include Lingth(100%, 50%);
        .intropage2nd {
          @include Lingth(100%, 96%);
          .threeinput {
            @include DwithL(50%, 100%, center, space-evenly);
            flex-direction: column;
            .Cpass,
            .date,
            .City {
              @include Lingth(40px, 90%);
              input {
                @include Lingth(100%, 100%);
                border: none;
                outline: none;
                border-bottom: 2px solid #2112f7;
                //border-radius: 6px;
                font-size: 16px;
                padding: 4px;
              }
              p {
                display: none;
              }
            }
            .Cpass.err,
            .date.err {
              color: red;
              input {
                border-bottom: 2px solid red;
              }
              p {
                color: red;
                display: block;
              }
            }
          }
          .gender {
            @include DwithL(30%, 100%, center, space-around);
            flex-direction: column;
            .malefemale {
              @include DwithL(40%, 70%, center, space-evenly);
              .male,
              .female {
                @include DwithL(50%, 23%, center, space-around);
                font-size: 18px;
                color: rgb(129, 129, 129);
                accent-color: #6f00ff;
              }
              .male.err,
              .female.err {
                color: rgb(156, 4, 4);
                accent-color: red;
              }
            }
            .previusbtn {
              @include Lingth(25%, 50%);
              color: #fff;
              background: #688307;
              border: none;
              border-radius: 6px;
              font-size: 18px;
              transition: 0.4s;
              &:hover {
                background: #700529;
              }
            }
            .previusbtn.changebtn {
              background: #250ef3;
              transition: 0.3s;
              &:hover {
                background-color: #2d42ff;
              }
            }
          }
        }
      }
      .scoundPart {
        @include DwithL(100%, 50%, center, center);
        .intropage1st {
          @include Lingth(100%, 96%);
          .inp {
            @include DwithL(60%, 100%, center, space-evenly);
            flex-direction: column;
            .fname,
            .lname,
            .email,
            .password {
              @include Lingth(40px, 90%);

              input {
                @include Lingth(100%, 100%);
                border: none;
                border-bottom: 2px solid #2112f7;
                outline: none;
                color: #646368;
                font-size: 16px;
                padding: 5px;
              }
              p {
                color: red;
                display: none;
              }
            }
            .fname.err,
            .lname.err,
            .email.err,
            .password.err {
              input {
                color: red;
                border-bottom: 2px solid #f10606;
              }
              p {
                display: block;
              }
            }
          }
          .Ihave {
            @include DwithL(30%, 100%, center, space-evenly);
            flex-direction: column;
            .nextBtn {
              @include Lingth(25%, 50%);
              color: #fffdfd;
              background: #696b69;
              border: none;
              border-radius: 6px;
              cursor: not-allowed;
              transition: 0.3s;
            }
            .nextBtn.next {
              cursor: pointer;
              background: #266931;
              transition: 0.3s;
              &:hover {
                background: #00aa17;
              }
            }
            h4 {
              a {
                text-decoration: none;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                  color: #017410;
                }
              }
              color: #272927;
            }
          }
        }
      }
    }
    @media screen and (max-width: 650px) {
      @include Lingth(450px, 90%);
    }
    .gonext {
      //right: 0;
      transform: translateX(-51%);
    }
  }

  .showSuccess {
    @include Lingth(100vh, 100%);
    display: none;
    background: #6211f8;
    position: absolute;
    z-index: 1;

    .mainBox {
      width: 350px;
      height: 300px;
      animation: Likecss 3s linear forwards;
      border-radius: 4px;
      transform: translate(0, -250px) scale(0.5);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
      .had {
        @include Lingth(20%, 100%);
        border-radius: 4px 4px 0 0;

        display: flex;
        .icon {
          @include DwithL(100%, 25%, center, center);
          border-right: 2px solid #ffffff;
          background: #06b1db;
          border-radius: 4px 0 0 0px;
          .Icon {
            color: #fff;
            font-weight: 700;
            font-size: 35px;
            background: #009200;
            border-radius: 50%;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
          }
        }

        .test {
          @include DwithL(100%, 75%, center, center);

          background: #02ca45;
          border-radius: 0 4px 0px 0;
          p {
            color: #fff;
            font-weight: 500;
            font-size: 20px;
          }
        }
        .animation {
          width: 100%;
          height: 80%;
        }
      }
      .animationG {
        width: 100%;
        height: 80%;

        border-radius: 0 0 4px 4px;
        animation: showimg 3s linear forwards;
      }
      @keyframes showimg {
        0% {
          background: #fff;
        }
        10% {
        }
        20% {
        }
        30% {
          opacity: 0;
          //background: url("../../../public/images/GIF/Success.gif");
        }
        90% {
          background: url("../../../public/images/GIF/Success.gif");
          background-position: center;
          object-fit: cover;
          opacity: 1;
        }
        100% {
          background: #fff;
        }
      }
    }
    @keyframes Likecss {
      0% {
        transform: translateY(-210px) scale(0.5);
        background: #fff;
      }
      10% {
        transform: translateY(-150px) scale(0.6);
      }
      20% {
        transform: translateY(-80px) scale(0.7);
      }
      30% {
        transform: translateY(20px) scale(0.8);
      }
      40% {
        transform: translateY(80px) scale(1);
      }
      90% {
        transform: translateY(80px) scale(1);
      }
      // 70%{
      //   transform: translateY(80px) scale(1);

      // }80%{
      //   transform: translateY(80px) scale(1);

      // }90%{
      //   transform: translateY(80px) scale(1);

      // }
      100% {
        background: #fff;
        transform: translateY(-250px) scale(0.5);
      }
    }
  }
  .showSuccess.SHOW {
    display: block;
    display: flex;
    align-items: start;
    justify-content: center;
  }
}
