@mixin Display($alien, $justify) {
  display: flex;
  align-items: $alien;
  justify-content: $justify;
}

@mixin Lingth($height, $width) {
  height: $height;
  width: $width;
}


@mixin DwithL($h,$w,$a,$j){
  display: flex;
  align-items: $a;
  justify-content: $j;
  height: $h;
  width: $w;
}


