@import "../color";
@import "../mixins";

.Posts {
  @include Lingth(auto, 100%);
  background:var(--white-400);
  border-radius: 10px;
  margin-top: 10px;
  .profileHed {
    @include Lingth(70px, 100%);
    //background: #948e8e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    .imgs {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      position: relative;
      .active {
        position: absolute;
        background: #22c537;
        @include Lingth(15px, 15px);
        margin: 33px 0 0 40px;
        border: 2px solid;
        border-radius: 50%;
      }
      img {
        height: 50px;
        border-radius: 50%;
      }
      .text {
        margin-left: 10px;
        h3{
            font-size: 17px;
            color: var(--white-200);
        }
        p{
            font-size: 14px;
            color: var(--white-200);
        }
      }
    }
    .dots{
        margin-right: 10px;
        font-size: 20px;
        color: var(--white-200);
        @include Display(center,center);
        @include Lingth(40px,40px);
        transition: .3s;
        &:hover{
            background: var(--white-500);
            color: var(--white-800);
            border-radius: 50%;
        }
    }
  }
  .profileinfo{
    width: 100%;
    height: auto;
    img{
        width: 100%;
        object-fit: cover;
    }
    .commentSection{
        @include Lingth(60px,100%);
       display: flex;
       align-items: center;
       justify-content: space-around;
       .like,.comment,.shere{
        @include Lingth(80%,20%);
        @include Display(center,center);
        font-size: 20px;
        color: var(--white-200);
        transition: .4s;
        &:hover{
            color: var(--white-800);
        }
       }
    }
  }
}
