@import "../color";
@import "../mixins";
.Ditals {
  @include Lingth(auto, 100%);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 1fr);
  margin-top: 10px;
  justify-content: center;
  .Bio {
    grid-column: 1/6;
    grid-row: 1/5;
    // background: #887373;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    .intro {
      position: relative;

      background: var(--white-400);
      border-radius: 8px;
      height: 100%;
      width: 90%;
      flex-basis: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      .TextIntor {
        top: 5px;
        position: absolute;
        width: 100%;
        height: 40px;
        color: var(--white-800);
        font-size: 20px;
        left: 20px;
      }
      .intorbutton {
        height: 35px;
        top: 34px;

        position: absolute;
        width: 95%;
        background: var(--white-300);
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: var(--white-800);
      }
      .content {
        position: relative;
        margin-top: 35px;
        padding: 10px;
        min-height: 60%;
        width: 100%;
      }

      .editDtils {
        @include Lingth(35px, 95%);
        background: var(--parpal-300);
        color: var(--white-800);
        @include Display(center, center);
        border-radius: 10px;
        margin-bottom: 10px;
        .Ed {
          color: var(--white-900);
          font-size: 18px;
          margin-right: 5px;
        }
      }
      .addfirnds {
        @include Lingth(35px, 95%);
        background: var(--white-600);
        color: var(--white-800);
        border-radius: 10px;
        @include Display(center, center);
        .Ad {
          color: var(--parpal-300);
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }
  
  }
  .myphoto {
    //background: #9cb9da;
    @include Lingth(100%, 100%);
    grid-row: 5/10;
    grid-column: 1/6;
    padding: 10px;
    border: none;
    @include Display(center, end);
    .myphotogallary {
      border-radius: 10px;
      background: var(--white-400);
      @include Lingth(95%, 90%);
      flex-basis: 500px;
      .photobutton {
        @include Lingth(55px, 100%);
        // background: #faefef;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        h4 {
          color: var(--white-800);
          font-size: 20px;
        }
        p {
          color: var(--white-800);
          font-size: 16px;
        }
      }
      .Pg {
        @include Lingth(87%, 100%);
        // background: #252f33;

        display: flex;
        align-items: center;
        justify-content: space-around;
        .allphotos {
          img {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            margin-left: 5px;
            width: 32%;
            height: auto;
          }
        }
      }
    }
  }
  .myfirend {
    grid-column: 1/6;
    grid-row: 10/16;
    //background: #698563;
    @include Lingth(100%, 100%);
    @include Display(center, end);
    padding: 10px;
    .firendgallary {
      background: var(--white-400);
      height: 98%;
      width: 90%;
      flex-basis: 500px;
      border: none;
      border-radius: 10px;
      .firendgallary {
        //background: #94ccbb;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 10%;
        width: 100%;
        .num h4 {
          font-size: 20px;
          color: var(--white-800);
        }
        .num p {
          font-size: 16px;
          color: var(--white-800);
        }
        p {
          color: var(--white-800);
          font-size: 14px;
        }
      }
      .Pg {
        height: 90%;
        //background: #b17eb8;
        padding: 5px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .allphotos {
          margin: 5px;
          @include Lingth(90%, 95%);
          img {
            width: 100%;
            border-radius: 5px;
          }
          .firendName {
            color: var(--white-800);
          }
        }
      }
    }
  }
  .Footer {
    //background: #eb1165;
    width: 100%;
    height: 100%;
    grid-row: 16/-1;
    grid-column: 1/6;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: end;
    .Footbox {
      height: 98%;
      width: 90%;
      flex-basis: 500px;
      border-radius: 10px;
      background: var(--white-400);
      box-shadow: inset 0px 0px 17px var(--white-500);
      .header {
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        h4 {
          font-size: 20px;
          color: var(--white-800);
        }
        p {
          font-size: 14px;
          color: var(--white-800);
        }
      }
      .lifeEvent {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .carearevent,
        .profileevent {
          background: var(--white-500);
          height: 85%;
          width: 40%;
          color: var(--parpal-300);
          border: 0.5px solid var(--white-600);
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          .bif {
            //font-size: 30px;
            padding: 10px;
            height: 50px;
            border-radius: 50%;
            width: 50px;
            background: var(--white-700);
          }
        }
      }
    }
  }

  .AllPost {
    //background: #ff1d1d;
    height: 100%;
    width: 100%;
    grid-column: 6/-1;
    grid-row: 1/-1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: auto;
    .postcountuner {
      height: 100%;
      width: 100%;
      flex-basis: 600px;
      border-radius: 10px;
      background: #926868;
      .think {
        width: 100%;
        height: 130px;
        background: var(--white-400);
        border-radius: 10px;
        padding: 10px;
        .photo {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          position: relative;
          justify-content: space-evenly;
          img {
            height: 40px;
            border-radius: 50%;
          }
          .whatDoyouThink {
            height: 70%;
            width: 80%;
            background: var(--white-700);
            border-radius: 20px;
            color: var(--white-400);
            @include Display(center, start);
            p {
              margin-left: 20px;
              font-size: 18px;
            }
          }
        }
        .icon {
          height: 50%;
          width: 100%;
          //background: #b68888;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .livevideo,.photsvideo, .lifeevents{
             height: 80%;
            width: 30%;
            @include Display(center,center);
            border-radius: 5px;
            font-size: 30px;
            cursor: pointer;
            background: var(--white-500);
            transition: .4s;
            &:hover{
              background: var(--white-600);
            }
          }
          .livevideo {
            
            color: rgb(136, 5, 5);
          }
          .photsvideo {
            
             color: rgb(5, 151, 42);
          }
          .lifeevents {
           
             color: rgb(30, 149, 228);
          }
        }
      }
      @import "../subPartial/poste";
    }
  }
  @media screen and (max-width: 850px){
   
  
    
  
    .Bio{
      grid-row: 1/3;
      grid-column: 1/-1;
    @include Display(center,center);
    }
   .myphoto{
    grid-column:1/-1 ;
    grid-row: 3/5;
     @include Display(center,center);
   }
   .myfirend{
    grid-row: 5/8;
    grid-column: 1/-1;
     @include Display(center,center);
   }
   .Footer{
    grid-column: 1/-1;
    grid-row:8/10 ;
     @include Display(center,center);
   }
   .AllPost{
    grid-row:10/-1 ;
    grid-column: 1/-1;
     @include Display(center,center);
   }
  }
}
