* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cover {
  background: #927676;
  height: 100vh;
  width: 100%;
  display: flex;
  //flex-direction: column;
  .div1 {
    height: 10%;
    background: #cf28df;
    width: 10%;
    margin: auto;
  }
  
 
  

}
