

.verifycover{
    user-select: none;
    @include DwithL(100vh,100%,center,center);
    background: rgb(125, 20, 245);
    .varifybox{
        @include Lingth(450px,400px);
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: inset 0 0 16px rgba(0,0,0,0.6);
        @media screen and (max-width:600px) {
            width: 90%;
        }
        .varifyHead{
            @include DwithL(45%,100%,center,space-evenly);
            flex-direction: column;
           .logo{
            @include DwithL(100px,100px,center,center);
            background: #6a05bd;
            
            border-radius: 50%;
            .userVlid{
                  @include Lingth(60%,60%);
                color: rgb(255, 255, 255);
            }
        }
        .text{
            color: #454546;
        }
        }
        .infobox{
            @include Lingth(55%,100%);
          display: flex;
          flex-direction: column;
          
          
          .timer{
            width: 100%;
            height: 16%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(2, 190, 27);
          }
          .out{
            color: #ff1621;
          }
          .inputBox{
            width: 100%;
            height: 25%;
            //background: #b4b2b2;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0 25px 0 25px ;
            
            input{
                width: 50px;
                height: 45px;
                border-radius: 5px;
                border:none;
                color: #494949;
                box-shadow: 0 0 8px rgba(0,0,0,0.7);
                &::-webkit-inner-spin-button{
                    display: none;
                }
                &:focus{
                    outline: 2px solid #552ceb;
                }
                font-size: 25px;
                font-weight: 700;
                text-align: center;
      
            }
            
          }
          #OK{
            input{
                color: #068301;
                box-shadow: 0 0 8px #068301;
            }
          }
          .Errors{
            input{
                box-shadow: 0 0 10px  rgb(236, 1, 1);
                color: #e20505;
            }
           
           @import "./animated";
            animation: vibrate .4s linear forwards;
            @keyframes vibrate {
                0%{
                    transform: translateX(7px) ;
                }
                10%{
                    transform: translateX(-7px);
                }
                20%{
                    transform: translateX(7px) ;
                }
                30%{
                    transform: translateX(-7px);
                }
                40%{
                    transform: translateX(5px) ;
                }
                50%{
                    transform: translateX(-7px);
                }
                60%{
                    transform: translateX(7px) ;
                }
                70%{
                    transform: translateX(-7px);
                }
                80%{
                    transform: translateX(7px) ;
                }
                90%{
                    transform: translateX(-5px);
                }
                100%{
                    transform: translateX(5px);
                }

            }
          }
          .submit{
            width: 100%;
            height: 25%;
            display: flex;
            align-items: end;
            justify-content: center;
            button{
                height: 70%;
                width: 40%;
                color: #fff;
                background: #552ceb;
                border-radius: 5px;
                border: none;
                font-size: 20px;
                letter-spacing: 1px;
                transition: .2s ease;
                cursor: pointer;
                &:hover{
                    background: #068301;
                }
            }
          }
          .resend{
            width: 100%;
            height: 15%;
            display: flex;
            align-items: end;
            justify-content:center;
            color: #17566e;
            font-weight: 600;
            transition: .3s;
            cursor: pointer;
            &:hover{
                color: #068301;
            }
           
          }
        }
    }
}




