.notCount {
  background: #eeeded;
  @include DwithL(100vh, 100%, center, center);
  user-select: none;
 overflow: hidden;
  .notfoundtext {
    width: auto;
    height: auto;
  }
  @media screen and (max-width: 700px) {
    width:100%;
    height: 100vh;
    .notfoundtext{
      img{
        width: 500px;
        height: auto;
      }
    }
  }
}
